<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<style>
.masthead .hero__description {
    color: white;
}
</style>
<head>
    <meta charset="utf-8" />
    <title>GOV.UK Service Communities</title>
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" media="screen" href="https://www.registers.service.gov.uk/assets/govuk-template-0045a3ca526203b8576e368e1680e40e4d56126aefc4556c3222ec41f08f35a1.css" crossorigin="anonymous" integrity="sha256-AEWjylJiA7hXbjaOFoDkDk1WEmrvxFVsMiLsQfCPNaE=" />
    <!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://www.registers.service.gov.uk/assets/govuk-template-ie6-ab5b85d13d71f18716e88aba310eca73d47e90c6b900629273092548cb214b3a.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://www.registers.service.gov.uk/assets/govuk-template-ie7-825e23f1fcba78f474be987120c3d997e2d3fd929543fa0f7267b89592a34b92.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://www.registers.service.gov.uk/assets/govuk-template-ie8-142685daa6de26e6991a81956c7f0bc74d2bd3a75c6ab57a5b564f26c2a4b6b5.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://www.registers.service.gov.uk/assets/govuk-template-print-b99a918c9ce507d734764555d5708c1c0439ac8a41cfcec57200c019fcb7f9c1.css" crossorigin="anonymous" integrity="sha256-uZqRjJzlB9c0dkVV1XCMHAQ5rIpBz87FcgDAGfy3+cE=" />

    <!--[if lt IE 9]><script src="/assets/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->
    <link rel="shortcut icon" href="https://www.registers.service.gov.uk/assets/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon" />
    <link rel="mask-icon" href="https://www.registers.service.gov.uk/assets/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.registers.service.gov.uk/assets/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://www.registers.service.gov.uk/assets/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.registers.service.gov.uk/assets/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://www.registers.service.gov.uk/assets/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://www.registers.service.gov.uk/" />
    <link href="https://www.registers.service.gov.uk/" rel="canonical" />
    <link rel="stylesheet" media="screen" href="https://www.registers.service.gov.uk/assets/application-2c11e3431b576562514f6fc4c765d1feb6f3863d8167d5a329c62b1429602146.css" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="r6YHvDnG+xKehqFuSJ4TZT6p5xEoog4kZ+pBLT8TaZxR+f787ZWyDw4V+PfPyNloE20UxdxGERR1cpK7GtCUQg==" />
    <meta content='Registers are lists of information that are managed and approved by government. GOV.UK Service Communities helps government design and build services on a consistent and high quality data infrastructure via our secure API.' name='description'>
    <script>
        /* global ga, window */
        window.ga = window.ga || function() {
            (ga.q = ga.q || []).push(arguments);
        };
        ga('create', 'UA-86101042-3', 'auto')
        ga('set', 'anonymizeIp', true)
        ga('set', 'displayFeaturesTask', null)
        ga('set', 'transport', 'beacon')
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    <meta property="og:image" content="/assets/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
</head>

<body class="home-page no-js">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <script>
        document.getElementsByTagName('body')[0].className = document.getElementsByTagName('body')[0].className.replace(/no-js/, 'js')
    </script>
    <header class='header header--without-border'>
        <div class='header__container'>
            <div class='header__brand'><a href="https://www.registers.service.gov.uk/"><span class='govuk-logo'><img height="32" width="36" class="govuk-logo__printable-crown" src="/assets/gov_uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" /><!-- - -->
	GOV.UK</span><!-- - --><span class='header__title'>Service Communities<span class='phase-banner'>Beta</span></span></a></div>
            <input type="checkbox" name="show-menu" id="show-menu" class="header__navigation-toggle-checkbox" aria-controls="navigation" aria-expanded="false" />
            <label class="header__navigation-toggle" for="show-menu">Menu</label>
            <nav aria-hidden='true' aria-label='Top Level Navigation' class='header__navigation' id='navigation' role='Navigation'>
                <ul>
                    <li class=''><a href="https://www.registers.service.gov.uk/about">About</a></li>
                    <li class=''><a href="https://www.registers.service.gov.uk/registers">Collaboration case studies</a></li>
                    <li class=''><a href="https://www.registers.service.gov.uk/support">Support</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="global-header-bar"></div>
    <main role='main'>
        <div class='masthead'>
            <nav aria-label='Breadcrumb' class='breadcrumbs breadcrumbs--inverse'>
                <ol>
                    <li class='breadcrumbs__item'><a href="https://www.gov.uk/service-toolkit#components">Components</a></li>
                    <li class='breadcrumbs__item breadcrumbs__item--active'><a aria-current="page" href="#content">GOV.UK Service Communities</a></li>
                </ol>
            </nav>
            <div class='hero hero--breaded'>
                <div class='hero__content'>
                    <div class='hero__body'>
                        <h1 class='hero__title'>Work across organisational boundaries to solve a whole problem for users</h1>
                        <div class='hero__inline-image'>
                            <!-- <img role="presentation" src="/assets/registers-top-image-2f4c8c8ffd5725b110ef0bda246529ee36425741dd779397e69c423d7462c34c.png" /> -->
                        </div>
                        <p class='hero__description'>GOV.UK Service Communities enables ongoing cross-government collaboration on services as users see them.</p><a class="button hero-button" role="button" href="https://www.registers.service.gov.uk/about">Start a community</a></div>
                    <div class='hero__aside-image'>
                        <!-- <img role="presentation" src="/assets/registers-top-image-2f4c8c8ffd5725b110ef0bda246529ee36425741dd779397e69c423d7462c34c.png" /> -->
                    </div>
                </div>
            </div>
        </div>
        <div class='govuk-width-container'>
            <section class='govuk-main-wrapper'>
                <h2 class='govuk-heading-m govuk-!-margin-bottom-0'>Collaboration case studies</h2>
                <p>The types of thing you can achieve by participating in a Service Community.</p>
                <ul class='register-themes'>
                    <li class='register-theme'><a class='register-theme__link' href='/category/crime-justice-and-law'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>GOV.UK step-by-step</h3><p class='register-theme__description govuk-body-s'>Help users navigate a whole service with a step-by-step guide on GOV.UK</p><p class='register-theme__count govuk-body-s'>Start a business (10+ teams)</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/education-training-and-skills'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>End-to-end User Journey map</h3><p class='register-theme__description govuk-body-s'>Co-create a diagram to illustrate how users interact with different parts of government to achieve their goal</p><p class='register-theme__count govuk-body-s'>Employ someone (6+ teams)</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/environment'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Personal data sharing</h3><p class='register-theme__description govuk-body-s'>With users permission, share their personal data with other parts of government so they don't need to repeat themselves</p><p class='register-theme__count govuk-body-s'>Start a business (10+ teams)</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/geography'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>User research sharing</h3><p class='register-theme__description govuk-body-s'>Understand users needs and wider context without duplicating effort across government</p><p class='register-theme__count govuk-body-s'>Start a business (10+ teams)</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/government'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Collaborative transformation strategy</h3><p class='register-theme__description govuk-body-s'>Work towards big ambitious changes to services by collaborating on a longterm strategy with another department</p><p class='register-theme__count govuk-body-s'>Get health benefits (3+ teams)</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/health-and-social-care'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Shared communications campaign</h3><p class='register-theme__description govuk-body-s'>Save money and communicate with users more effectively by working together on campaigns</p><p class='register-theme__count govuk-body-s'>Import-Export (16+ teams)</p></a></li>
                    <!-- <li class='register-theme'><a class='register-theme__link' href='/category/life-circumstances'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Life circumstances</h3><p class='register-theme__description govuk-body-s'>Includes registration districts</p><p class='register-theme__count govuk-body-s'>1 register</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/regional-and-local-government'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Regional and local government</h3><p class='register-theme__description govuk-body-s'>Includes local authorities</p><p class='register-theme__count govuk-body-s'>5 registers</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/registers-data'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Registers data</h3><p class='register-theme__description govuk-body-s'>Includes a register of all registers, register fields and register datatypes</p><p class='register-theme__count govuk-body-s'>3 registers</p></a></li>
                    <li class='register-theme'><a class='register-theme__link' href='/category/work'><h3 class='register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1'>Work</h3><p class='register-theme__description govuk-body-s'>Includes jobcentres</p><p class='register-theme__count govuk-body-s'>3 registers</p></a></li> -->
                    <li class='register-theme'><a class="register-theme__view-all" href="https://www.registers.service.gov.uk/registers">View all case studies</a></li>
                </ul>
            </section>
            <aside class='govuk-!-padding-bottom-9'>
                <aside class='registers-in-numbers'>
                    <h2 class='govuk-heading-m'>GOV.UK Service Communities in numbers</h2>
                    <ul>
                        <li class='registers-in-numbers__item govuk-!-margin-bottom-4'><span class='govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0' role='presentation'>44</span><span class='govuk-body govuk-!-margin-bottom-0 data-item' role='presentation'>government registers available</span></li>
                        <li class='registers-in-numbers__item govuk-!-margin-bottom-4'><span class='govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0' role='presentation'>14</span><span class='govuk-body govuk-!-margin-bottom-0 data-item' role='presentation'>government organisations managing&nbsp;registers</span></li>
                        <li class='registers-in-numbers__item govuk-!-margin-bottom-4'><span class='govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0' role='presentation'>8</span><span class='govuk-body govuk-!-margin-bottom-0 data-item' role='presentation'>government services using&nbsp;registers</span></li>
                    </ul>
                </aside>
            </aside>
        </div>
    </main>
    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class='govuk-footer registers-!-border-off govuk-!-padding-bottom-0 govuk-!-padding-top-0' role='contentinfo'>
                <div class='govuk-width-container'>
                    <div class='govuk-grid-row'>
                        <div class='govuk-grid-column-one-third'>
                            <h2 class='govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-0'>About</h2>
                            <ul class='govuk-footer__list govuk-!-padding-bottom-7'>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/about">Our service</a></li>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/registers?show_by=organisation">Organisations managing registers</a></li>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/services-using-registers">Services using registers</a></li>
                            </ul>
                        </div>
                        <div class='govuk-grid-column-one-third'>
                            <h2 class='govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-0'>Use</h2>
                            <ul class='govuk-footer__list govuk-!-padding-bottom-7'>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/registers">Registers collection</a></li>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/registers-in-progress">Upcoming registers</a></li>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://docs.registers.service.gov.uk">Documentation</a></li>
                            </ul>
                        </div>
                        <div class='govuk-grid-column-one-third'>
                            <h2 class='govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-0'>Support</h2>
                            <ul class='govuk-footer__list govuk-!-padding-bottom-7'>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/sign-up-for-updates">Sign up for updates</a></li>
                                <li class='govuk-footer__list-item'><a class="govuk-footer__link" href="https://www.registers.service.gov.uk/support">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <nav class='footer-nav'>
                        <ul>
                            <li>Built by the <a target="blank" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
                            <li><a href="https://www.registers.service.gov.uk/privacy-notice">Privacy notice</a></li>
                            <li><a href="https://www.registers.service.gov.uk/cookies">Cookies</a></li>
                        </ul>
                    </nav>
                    <div class="open-government-licence">
                        <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                        <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                    </div>
                </div>
                <div class="copyright">
                    <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
    <div id="global-app-error" class="app-error hidden"></div>
    <script src="/assets/govuk-template-ae4c5d21c0a7cb5bc8926a9f491de4e410244403f66c72997210c281efb92d4f.js" crossorigin="anonymous" integrity="sha256-rkxdIcCny1vIkmqfSR3k5BAkRAP2bHKZchDCge+5LU8="></script>
    <script src="/assets/application-12a464e453d9b18da41f0df49bf9bcc2c9939a940c2bcc8b29b7f07f6d6b5c95.js"></script>
    <script>
        var heroButton = document.querySelector('.hero-button');
        heroButton.onclick = function() {
            ga('send', 'pageview', '/get-started');
        }
    </script>
    <script>
        if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');
    </script>
</body>

</html>