
{% extends "layout.html" %}

{% block pageTitle %}
  Browse service community case studies
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What do you want to do?
      </h1>{{releaseVersion | log }}
      <p>
        <a href="" class="govuk-link">Browse service communities</a>
      </p>
      <p>
        <a href="" class="govuk-link">Learn about lifecycle of communities</a>
      </p>
      <p>
        <a href="" class="govuk-link">Browse case studies</a>
      </p>
      <p>
        <a href="" class="govuk-link">Browse artefacts</a>
      </p>


    </div>
</div>

{% endblock %}
