
{% extends "layout.html" %}

{% block pageTitle %}
  Browse service communities
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Browse service communities</h1>
      <p class="govuk-body">Use the list below to do bla bla bla</p>

      <ul class="govuk-list govuk-!-padding-top-7">
        <li>
          <h2 class="govuk-heading-m">Start a business <br>{{ govukTag({ text: "beta" }) }}</h2>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Employ someone <br>{{ govukTag({ text: "alpha" }) }}</h2>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Import-export <br>{{ govukTag({ text: "alpha" }) }}</h2>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Get health benefits <br>{{ govukTag({ text: "discovery" }) }}</h2>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
