
{% extends "layout.html" %}

{% block pageTitle %}
  Browse service communities
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-xl">Browse active service communities</h1>
      <p class="govuk-body-l">Below are the active service communities within government.</p>

      <ul class="govuk-list govuk-!-padding-top-7">
        <li>
          <h2 class="govuk-heading-m"><a href="/start-business" class="govuk-link">Start a business</a></h2>
          <p class="govuk-body">The focus of the community is on the pre-start and start phases of starting a business - focusing specifically on SMEs.</p>
          <p class="govuk-body">{{ govukTag({ text: "beta" }) }}</p>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Employ someone</a></h2>
          <p class="govuk-body">The focus of the community is to align and join up activity across departments related to supporting those seeking to and/or employing someone, in order to improve the services government offers.</p>
          <p class="govuk-body">{{ govukTag({ text: "alpha" }) }}</p>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Import-export</a></h2>
          <p class="govuk-body">The focus of the community is on the import and export of goods and services, as well as investments.</p>
          <p class="govuk-body">{{ govukTag({ text: "discovery" }) }}</p>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Get health benefits</a></h2>
          <p class="govuk-body">The focus of the group will be on health and disability services.</p>
          <p class="govuk-body">{{ govukTag({ text: "discovery" }) }}</p>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
