
{% extends "layout.html" %}

{% block pageTitle %}
  Browse service community artefacts
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-xl">Browse service community artefacts</h1>
      <p class="govuk-body-l">Use the list below to design your next service community workshop.</p>

      <ul class="govuk-list govuk-!-padding-top-7">
        <li>
          <h2 class="govuk-heading-m">Proposal document</h2>
          <p class="govuk-body">The purpose of this document is to layout the objectives and purpose of the prospective community and who might benefit from it. This document is sent around to prospective teams, departments and enables you to get buy in early on - and also helps to set expectations.</p>
          <p class="govuk-body">This document should be created by the community during <strong>discovery</strong>.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                See examples
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://docs.google.com/document/d/1nAIaQikbojJf0CG2uzOopGae6E3YiaBiVdXoxdLArkE/edit?usp=sharing">Proposal document for Import-export</a></li>
              </ul>
            </div>
          </details>
          </li>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Terms of reference</h2>
          <p class="govuk-body">The purpose of this document is to provide an overview of the given community, outlining its purpose, membership, responsibility and aims. In addition, it proposes a Service Community Sponsor role.</p>
          <p class="govuk-body">This document should be created by the community during <strong>discovery</strong>.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                See examples
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://docs.google.com/document/d/1IEWt7s5f9Homj1txcLuq12fTvkwphitbFB0glyacZMo/edit?usp=sharing">Terms of reference for Start a Business</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1p2arUJhSZohLSiI_W0uZqBOPNO7deuDmdjjvleqU1Qs/edit?usp=sharing">Terms of reference for Employ someone</a></li>
              </ul>
            </div>
          </details>
          </li>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Service landscape</h2>
          <p class="govuk-body">The service landscape has been the focus of all communities and has been crucial for aligning disparate departments, prioritising work, etc. The service landscape enables a community to understand what government offers to users within a given space and through which channel.</p>
          <p class="govuk-body">This document should be created by the community during <strong>alpha</strong>.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                See examples
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://docs.google.com/spreadsheets/d/1p2arUJhSZohLSiI_W0uZqBOPNO7deuDmdjjvleqU1Qs/edit?usp=sharing">Service landscape for Start a Business</a></li>
                <li><a href="https://drive.google.com/open?id=1AwyFL1lFPvRJTElJDU_LtlN9oDcFE6PPV9WR2ynNghA">Service landscape for Import-export</a></li>
              </ul>
            </div>
          </details>
          </li>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">Agenda</h2>
          <p class="govuk-body">This document defines the objectives and activities for a community workshop. The document should be used during all phases of running a community.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                See examples
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://drive.google.com/open?id=1PKLwdYO2LPpGxojFjkxWf-2nMCPQZZKMsvP_meFlWZg">Agenda for workshop #12 for Start a Business</a></li>
                <li><a href="https://drive.google.com/open?id=1whB_J8sVlj9EUPby6OjeVW3NloVU_ncnkU4yVZzqlbc">Agenda for workshop #4 for Employ someone</a></li>
                <li><a href="https://drive.google.com/open?id=18qiHbKbGnM1SDp0VlbXxB-PWtfHMAHXNW9I-gsFQfCg">Agenda for workshop #2 for Import-export</a></li>
              </ul>
            </div>
          </details>
          </li>
        </li>
      </ul>

      <style>
      .govuk-details {
        font-size: 16px;
        font-size: 1rem;
      }
    </style>


    </div>
</div>

{% endblock %}
