
{% extends "layout.html" %}

{% block pageTitle %}
  Learn about the phases of a community
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-xl">Learn about the phases of a community</h1>
      <p class="govuk-body-l">We use the below to assess maturity of a community and help you assess what to do next.</p>

      <ul class="govuk-list govuk-!-padding-top-7">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "discovery" }) }}</h2>
          <p class="govuk-body">Communities which are in the discovery phase are relatively new and have held 1-3 workshops. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Define the scope of the service area</li>
            <li>Identify required departments, agencies and third parties</li>
            <li>Share a community proposal document</li>
            <li>Draft community terms of reference</li>
            <li>Draft service landscape</li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "alpha" }) }}</h2>
          <p class="govuk-body">Communities which are in the alpha phase are established communities and have held 3 or more workshops. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Complete a service landscape with all services (guidance, transactions, support) mapped</li>
            <li>Publish step-by-step navigations on GOV.UK</li>
            <li>Establish clear ways of working and community principles</li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "beta" }) }}</h2>
          <p class="govuk-body">Communities which are in the beta phase are recognised communities and have successfully delivered against their community objectives. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Share research</li>
            <li>Share data</li>
            <li>Deliver user facing products</li>
            <li>Reduce duplication in service area</li>
            <li>Establish community backlog</li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "live" }) }}</h2>
          <p class="govuk-body">Communities which are in the live phase are mature communities and are continuously improving their respective service area. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Make a cross-government business case</li>
            <li>Track and measure service improvements</li>
          </ul>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
