
{% extends "layout.html" %}

{% block pageTitle %}
  Start a Business Service Community
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/browse-communities"
      }) }}
      <span class="govuk-caption-xl ">Service Community</span>
      <h1 class="govuk-heading-xl" style="margin-bottom:10px">Start a Business</h1>
      <p class="govuk-body" style="margin-bottom:50px">{{ govukTag({ text: "beta" }) }}</p>

        <div class="community-detail">
          <h3 class="govuk-heading-l">10+</h3>
          <p class="govuk-body"> departments and agencies</p>
        </div>
        <div class="community-detail">
          <h3 class="govuk-heading-l">25</h3>
          <p class="govuk-body">people</p>
        </div>
        <div class="community-detail">
          <h3 class="govuk-heading-l">12</h3>
          <p class="govuk-body">workshops</p>
        </div>
        
      
      <p class="govuk-body govuk-!-padding-top-5">The focus of the community is on the pre-start and start phases of starting a business - focusing specifically on SMEs.</p>
      <p class="govuk-body" style="margin-bottom:30px">The next workshop for this community is on <strong>14 November</strong>.</p>
      {{ govukButton({
        text: "Join the public mailing list to get updates",
        href: "mailto:will.harmer@digital.cabinet-office.gov.uk"
      }) }}
      <p class="govuk-body-s" style="margin-top: -15px;margin-bottom:40px"><a href="#">Join the community</a> if you work in this service area</p>
      <hr class="govuk-section-break govuk-section-break--m ">
      <div class="depts-agencies">
      <h3 class="govuk-heading-m govuk-!-padding-top-4">Departments and agencies in this community</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Her Majesty's Revenue and Customs</strong> (HMRC SME strategy team, HMRC digital, HMRC Future tax admin team, HMRC self-assessment strategy team)</li>
        <li><strong>Business, Energy and Industrial Strategy</strong> (SME Growth team)</li>
        <li><strong>Department for Works and Pensions</strong> (UC Labour market strategy team, Strategy Work and Health joint unit)</li>
        <li><strong>Food Standards Agency</strong></li>
        <li><strong>Intellectual Property Office</strong></li>
        <li><strong>Department for International Trade</strong></li>
        <li><strong>British Business Bank</strong></li>
        <li><strong>Department for Education</strong> (National careers service, National apprenticeship service)</li>
      </div>
      <hr class="govuk-section-break govuk-section-break--m ">
      <div class="community-artefacts">
      <h3 class="govuk-heading-m govuk-!-padding-top-4">Community artefacts</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://drive.google.com/open?id=1Pcu1BfPk5jQ5jkCFOtDIZ_kjx302U0O6">Terms of Reference</a> (last updated 10.08.2018)</li>
        <li><a href="https://drive.google.com/open?id=1wMVyHOHooh_y_o3zFYnDSvXlpg6jn6rV">Service Landscape</a> (last updated 13.09.2018)</li>
      </ul>

      </div>
      <style>
        
        .community-detail {
          margin-bottom: 5px;
        }
        .community-detail h3,
        .community-detail p {
          display: inline-block;
          margin-bottom: 0;
        }
        .community-detail h3 {
          /*width: 80px;*/
        }
        .community-detail p {
          margin-left: 10px;
        }
      </style>
    </div>
</div>

{% endblock %}
